/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.css.scss";
@import "posts.css.scss";

body
{
	font-family: "Raleway";
	font-weight: 100;
}
h1,h2,h3,h4,h5,h6,p
{
	font-weight: 100;
}
.navbar
{
	margin: auto;
}
.container 
{
	font-family: "Indie Flower";

}
h4,h5,p
{
	font-family: "Indie Flower";
}
.clearfix:before, .clearfix:after
{
	content: " ";
	display: table;
}
.clearfix:after
{
	clear: both;
}
.header
{
	padding: 2rem 0;
	border-bottom: 1px solid #e4e4e4;
	width: 100%;
	#logo
	{
		float: left;
		padding-left: 3em;
		font-size: 2rem;
		height: 2.5rem;
		a
		{
			color: #333333;
			text-decoration: none;
			&:hover
			{
				color: #50a7c7;
			}
		}
	}
}
.button
{
	border: 1px solid #9b9b9b;
	padding: .7rem 1.25rem;

}
.header
{
	.wrapper
	{
		.nav
		{
			a
			{
				margin-left: 1.5rem;
				border: 1px solid #9b9b9b;
				padding: .7rem 1.25rem;
				border-radius: .3rem;
				outline: none; 
				background: white;
				text-decoration: none;
				color: #2f4965;
				&:hover
				{
					color: #50a7c7;
					background-color: #eff2f5;
				}
			}
		}
	}
}
.container
{
	.row
	{
		h2
		{
			a
			{
				text-decoration: none;
				&:hover
					{
						color: #50a7c7;
					}
			}
		}
	}
}

#username
	{
		font-family: sans-serif;
	}